.breabcrumbs {
    padding: 24px 0 26px;
    display: flex;
    align-items: center;

    .breabcrumbs__list {
        display: flex;
        align-items: center;   
    }

    .breabcrumbs__list-item {
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
        color: #495057;

        img {
            margin-right: 12px;
            width: 12px;
            height: 14px;
            display: block;
        }

        span {
            margin-right: 12px;
        }
    }
}



.breadcrumbs 
  // padding: 24px 0 26px;
  display: flex;
  align-items: center;

  >span 
    margin-right: 12px;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #495057;

    img 
      width: 12px;
      height: 14px;
      display: block;
        

      


@media only screen and (max-width: 568px) {
  .breadcrumbs-container  {
    padding: 0px ;

    .breadcrumbs {
      padding: 24px 0 26px;
      display: flex;
      align-items: center;

      >span {
        font-size: 13px;
      }
    }
      

    .breabcrumbs__list-item {
        font-size: 13px;
    }
  }
}