.content {
    padding: 48px 0 64px;
    background: #F5F5F5;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .main-content.active {
        .tabs {
            max-width: 680px;
            width: 100%;
        }
    }

    .main-content {
        background: #FFFFFF;
        border-radius: 24px;
        padding: 40px;
        max-width: calc(65% - 20px);
        width: 100%;


        .tabs {
            display: flex;
            margin-bottom: 24px;

            .tabs__item {
                width: 50%;
                text-align: center;
                padding-bottom: 20px;
                cursor: pointer;
                border-bottom: 4px solid #CED4DA;
                color: #ADB5BD;

                span {
                    position: relative;
                    display: block;
                    width: fit-content;
                    margin: 0 auto;
                }

                .tabs__item-icon {
                    position: absolute;
                    max-width: 28px;
                    width: 100%;
                    right: -30px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            .tabs__item--active {
                color: #0057B8;
                border-bottom: 8px solid #0057B8;
                transform: translateY(2px);

                .tabs__item-icon {
                    path.tabs__item-ico--fill {
                        fill: #0057B8;
                    }

                    path.tabs__item-ico--stroke {
                        stroke: #0057B8;
                    }
                }
            }
        }

        .content-tabs {
            .content-tabs__text {
                font-weight: 500;
                font-size: 14px;
                line-height: 150%;

                p+p {
                    margin-top: 20px;
                }

                h3 {
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 125%;
                    margin: 20px 0;
                }
            }
        }
    }

    .aside-content {
        background: #2B2E28;
        border-radius: 24px;
        padding: 24px;
        max-width: calc(35% - 20px);
        width: 100%;
        color: #fff;
    }


    .last-news {
        margin-bottom: 40px;

        .last-news__title,
        .information-fund__title {
            font-weight: 700;
            font-size: 28px;
            line-height: 125%;
        }

        .last-news__wrapper {
            margin-top: 20px;
        }

        .news-box {
            display: flex;
            padding-bottom: 16px;
            border-bottom: 1px solid #E9ECEF;

            .news-box__img {
                max-width: 104px;
                height: 104px;
                object-fit: cover;
                width: 100%;
                display: block;
                margin-right: 16px;
                border-radius: 10px;
            }

            .news-box__content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;


                .news-box__content-desc {
                    font-weight: 600;
                    font-size: 17px;
                    line-height: 140%;
                }

                .news-box__content-date {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 150%;
                    color: #CED4DA;
                }
            }
        }

        .news-box+.news-box {
            margin-top: 24px;
        }
    }



    .information-fund {
        .information-fund__title {
            font-weight: 700;
            font-size: 28px;
            margin-bottom: 20px;
            line-height: 125%;
        }

        .information-fund__desc {
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            color: #E9ECEF;
        }

        .information-fund__desc+.information-fund__desc {
            margin-top: 15px;
        }
    }

    .contacts-fund {
        margin: 54px 0;

        .contacts-fund__title {
            font-weight: 600;
            font-size: 23px;
            line-height: 150%;
            margin-bottom: 12px;
        }

        .fund-box__item {
            display: flex;

            .fund-box__item-icon {
                max-width: 20px;
                width: 100%;
                display: block;
                margin-right: 16px;
                object-fit: contain;
            }
        }

        .fund-box__item+.fund-box__item {
            margin-top: 14px;
        }
    }

    .document-box {
        margin-bottom: 40px;

        .document-box__wrapper {
            display: flex;
            justify-content: space-between;
            gap: 2px;
            flex-wrap: wrap;
        }

        .document-box__img {
            max-width: 110px;
            width: 100%;
            display: block;
        }

        .btn {
            margin: 24px auto 0;
        }
    }

    .partners-box {
        .partners-box__title {
            font-weight: 700;
            font-size: 28px;
            line-height: 125%;
            margin-bottom: 28px;
        }


        .partners-box__item {
            padding-bottom: 23px;
            border-bottom: 1px solid #E9ECEF;

            &:nth-last-child(1) {
                border-bottom: none;
            }

            .partners-box__item-logo {
                max-width: 120px;
                width: 100%;
                display: block;
                margin-bottom: 16px;
            }

            .partners-box__item-subtitle {
                font-weight: 600;
                font-size: 23px;
                line-height: 100%;
                margin-bottom: 2px;
            }

            .partners-box__item-desc {
                font-weight: 400;
                font-size: 15px;
                line-height: 150%;
                color: #CED4DA;
                margin-bottom: 16px;
            }

            .partners-box__item-link {
                background: #FFFFFF;
                border-radius: 35px;
                padding: 16px 10px;
                max-width: 280px;
                width: 100%;
                display: block;
                font-weight: 500;
                font-size: 17px;
                line-height: 130%;
                color: #0057B8;
                text-align: center;
            }
        }

        .partners-box__item+.partners-box__item {
            margin-top: 16px;
        }
    }

    .content-tabs__report {
        display: none;
    }

    .content-tabs__report-title {
        font-weight: 700;
        font-size: 28px;
        line-height: 125%;
        display: flex;

        a {
            font-weight: 500;
            font-size: 14px;
            margin-left: 20px;
            line-height: 150%;
            color: #212529;
            position: relative;
            padding-left: 30px;
        }

        .content-tabs__report-icon {
            width: 20px;
            height: 20px;
            display: block;
            position: absolute;
            left: 5px;
        }
    }

    .box-report {
        margin: 30px 0 40px;
        background: #F1F3F5;
        border-radius: 28px;
        padding: 30px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .box-report__item {
            text-align: center;
        }

        .box-report__item-icon {
            max-width: 70px;
            background: #FFFFFF;
            border-radius: 14px;
            margin: 0 auto;
            width: 100%;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 16px;
        }

        .box-report__item-goal {
            span {
                font-weight: 600;
                font-size: 23px;
                line-height: 100%;
            }

            font-weight: 400;
            font-size: 15px;
            line-height: 100%;
            margin-bottom: 4px;
        }

        .box-report__item-svg {
            position: relative;

            .box {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -60%);
                text-align: center;

                .box-goal__count {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 100%;
                    margin-bottom: 4px;
                }

                .box-goal__text {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 100%;
                }
            }
        }


        .progress-bar {
            width: auto;
            height: 170px;
            border-radius: 50%;
            transform: rotate(-90deg) translateX(32px);
            margin-bottom: -60px;

            .progress-bar__defolt {
                fill: none;
                stroke: #fff;
                stroke-width: 5;
            }

            .progress-bar__active {
                fill: none;
                stroke: #0057B8;
                stroke-width: 6;
            }
        }

        .box-report__item-img {
            width: 36px;
            display: block;
        }

        .box-report__item-subtitle {
            font-weight: 700;
            font-size: 28px;
            line-height: 100%;
            color: #212529;
        }

        .box-report__item-text {
            font-weight: 400;
            font-size: 15px;
            line-height: 150%;
            color: #212529;
            margin-top: 4px;
        }
    }

}


.table-report {
    .table-report__head {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background: #2B2E28;
        color: #fff;
        border-bottom: 3px solid #FFFFFF;
        border-radius: 24px 24px 0px 0px;

        .table-report__head-title {
            font-weight: 600;
            font-size: 20px;
            line-height: 100%;
        }

        .table-report__head-summ {
            font-weight: 600;
            font-size: 23px;
            line-height: 100%;
            color: #FFD700;
        }
    }

    .table-report__header {
        display: flex;
        background: #E9ECEF;
        justify-content: space-between;

        .table-report__item {
            font-weight: 600;
            font-size: 17px;
            line-height: 100%;
        }
    }

    .table-report__line {
        display: flex;
        background: #F8F9FA;
        justify-content: space-between;

        .table-report__item-date {
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            color: #343A40;
        }

        .table-report__item-name {
            font-weight: 700;
            font-size: 18px;
            line-height: 100%;
            color: #FA5252;
        }

        .table-report__item-count {
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            color: #212529;

            .table-count {
                background: #fff;
                padding: 5px 15px;
                border-radius: 5px;
            }
        }

        .table-report__item-price {
            font-weight: 700;
            font-size: 18px;
            line-height: 150%;
        }

        .table-report__item-status {
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;

            .status__not-done {
                background: #FFE3E3;
                border-radius: 10px;
                padding: 5px 40px;
            }

            .status__done {
                background: #d4ffdf;
                border-radius: 10px;
                padding: 5px 40px;
            }
        }

    }

    .table-report__item {
        padding: 16px 5px 18px;
        text-align: center;
        border-bottom: 3px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        &:nth-child(1) {
            width: 15%;
        }

        &:nth-child(2) {
            width: 25%;
        }

        &:nth-child(3) {
            width: 15%;
        }

        &:nth-child(4) {
            width: 25%;
        }

        &:nth-child(5) {
            width: 20%;
        }
    }

    .table-report__item+.table-report__item {
        border-left: 3px solid #fff;
    }

    .table-report__footer {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background: #E9ECEF;
        border-bottom: 3px solid #FFFFFF;
        border-radius: 0px 0px 24px 24px;

        .table-report__footer-title {
            font-weight: 600;
            font-size: 20px;
            line-height: 140%;

            sup {
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                color: #495057;
            }
        }

        .table-report__footer-summ {
            font-weight: 600;
            font-size: 23px;
            line-height: 150%;
        }
    }
}

@media only screen and (max-width: 992px) {
    .post-card {
        .card {
            .card__wrapper {
                flex-direction: column;
            }

            .card__picture {
                margin: 0 0 24px;
                max-width: 500px;
            }
        }
    }


    .content {
        padding: 48px 0 64px;

        &__inner {
            flex-direction: column;
        }

        .box-report {
            flex-wrap: wrap;

            .box-report__item {
                width: 50%;
                margin: 30px 0;
            }

            .box-report__item-goal {
                span {
                    display: block;
                    margin-bottom: 4px;
                }
            }

            .box-report__item-goal+.box-report__item-goal {
                margin-top: 15px;
            }
        }

        .main-content {
            max-width: 100%;
            margin-bottom: 48px;
        }

        .aside-content {
            max-width: 100%;
        }

        .last-news,
        .partners-box {
            max-width: 512px;
            width: 100%;
        }

        .document-box {
            .document-box__wrapper {
                justify-content: flex-start;
            }

            .btn {
                margin: 24px 0;
            }
        }

    }

    .card {
        .card__content {
            max-width: 100%;
        }
    }

}



@media only screen and (max-width: 768px) {
    .table-report {
        .table-report__head {
            padding: 10px 15px;
            border-radius: 14px 14px 0px 0px;

            .table-report__head-title {
                font-size: 12px;
            }

            .table-report__head-summ {
                font-size: 14px;
            }
        }

        .table-report__footer {
            padding: 10px 15px;
            border-radius: 0px 0px 14px 14px;

            .table-report__footer-title {
                font-size: 12px;

                sup {
                    font-size: 10px;
                }
            }

            .table-report__footer-summ {
                font-size: 14px;
            }
        }

        .table-report__header {
            .table-report__item {
                font-size: 12px;
            }
        }

        .table-report__item {
            padding: 10px 5px 10px;
        }


        .table-report__line {
            .table-report__item-date {
                font-size: 10px;
            }

            .table-report__item-name {
                font-size: 12px;
            }

            .table-report__item-count {
                font-size: 12px;
            }

            .table-report__item-price {
                font-size: 12px;
            }

            .table-report__item-status {
                font-size: 10px;
            }
        }
    }
}

@media only screen and (max-width: 568px) {
    .post-card {
        .card {
            padding: 24px 24px 40px;

            .card__content {

                .card__content-title {
                    font-size: 21px;
                }

                .card__counts {
                    flex-direction: column;
                    margin: 16px 0;
                }

                .card__counts-peoples {
                    font-size: 14px;

                    span {
                        font-size: 19px;
                    }
                }

                .card__counts-peoples+.card__counts-peoples {
                    margin-left: 0;
                    margin-top: 8px;
                }
            }

            .objective {
                align-items: flex-start;
                flex-direction: column;
            }

            .objective__now-point {
                font-weight: 600;
                font-size: 19px;
            }

            .objective__end-point {
                font-size: 16px;
            }

            .card__content-data {
                font-size: 14px;
            }

            .progress-bar {
                width: 100%;
                margin-bottom: 24px;
            }

            .btn {
                width: 100%;
                max-width: 100%;
                padding: 24px;
                font-size: 16px;
            }

            .payments {
                justify-content: space-between;
            }


            .share-box {
                .share-box__title {
                    font-size: 14px;
                }
            }
        }
    }




    .content {
        padding: 32px 0 24px;

        .main-content {
            padding: 24px;

            .content-tabs {
                .content-tabs__text {
                    h3 {
                        font-size: 19px;
                    }
                }
            }

        }

        .last-news .last-news__title,
        .last-news .information-fund__title,
        .information-fund .information-fund__title,
        .contacts-fund .contacts-fund__title {
            font-weight: 600;
            font-size: 17px;
            line-height: 125%;
        }

        .last-news {
            .news-box {
                flex-direction: column;

                .news-box__img {
                    margin-right: 0;
                    margin-bottom: 16px;
                }

                .news-box__content {
                    .news-box__content-desc {
                        font-size: 16px;
                        margin-bottom: 16px;
                    }
                }
            }
        }

        .contacts-fund {
            margin: 24px 0;
        }


        .partners-box {
            .partners-box__item {
                .partners-box__item-subtitle {
                    font-size: 17px;
                    margin-bottom: 8px;
                }

                .partners-box__item-desc {
                    font-size: 13px;
                }
            }
        }


        .box-report {
            padding: 20px;

            .box-report__item {
                width: 100%;
            }
        }


        .box-table__wrapper {
            display: none;
        }


        .content-tabs__report-title {
            font-size: 21px;
            flex-direction: column;

            a {
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }



    .table-report {
        .table-report__head {
            padding: 10px 15px;
            border-radius: 14px 14px 0px 0px;

            .table-report__head-title {
                font-size: 10px;
            }

            .table-report__head-summ {
                font-size: 12px;
            }
        }

        .table-report__footer {
            padding: 10px 15px;
            border-radius: 0px 0px 14px 14px;

            .table-report__footer-title {
                font-size: 10px;

                sup {
                    font-size: 9px;
                }
            }

            .table-report__footer-summ {
                font-size: 12px;
            }
        }

        .table-report__header {
            .table-report__item {
                font-size: 8px;
            }
        }

        .table-report__item {
            padding: 10px 5px 10px;
        }


        .table-report__line {
            .table-report__item-date {
                font-size: 9px;
            }

            .table-report__item-name {
                font-size: 10px;
            }

            .table-report__item-count {
                font-size: 10px;
            }

            .table-report__item-price {
                font-size: 10px;
            }

            .table-report__item-status {
                font-size: 9px;

                .status__not-done {
                    padding: 5px 10px;
                }
            }
        }
    }
}