@import "global-style/fonts";
@import "global-style/_reset";
// @import "_var";


@import "global-style/header";
@import "global-style/footer";
@import "global-style/_button";
@import "global-style/promo";

@import "page-index/_section-posts";
@import "page-index/_section-connection";
@import "page-index/_section-news";
@import "page-index/_section-logos";



@import "page-post/_breabcrumbs";
@import "page-post/_page-post";
@import "page-post/_card-content";


// page-needy
@import "page-needy/_desc-needy";
@import "page-needy/_props";
@import "page-needy/_table";


// page-news-project
@import "page-news-project/news-project";
@import "page-news/gathering-status";

// top news-page
@import "page-news/_news-page";
@import "card-news/_card-news";


// page about-us
@import "about-us/_about-us"; 

//404
@import "page-404/page-404"; 

@import "popup-form/_popub"; 

//payment
@import "payment/_payment"; 

//contact-page
@import "contact-page/_form"; 


@import "sound-modal/sound-modal"; 

//FAQ
@import "faq/question"; 

