.props {
  padding: 40px 0 64px;

  &__inner {
    background: #ffffff;
    padding: 40px;
    box-shadow: 0px 8px 48px rgba(153, 153, 153, 0.11);
    border-radius: 24px;
  }
}

.box-props {
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .props-boxs {
    width: 100%;
    margin-bottom: 44px;
    padding-right: 50px;

    .props-boxs__title {
      font-weight: 600;
      font-size: 22px;
      line-height: 150%;
      color: #000000;
      margin-bottom: 8px;
    }

    .props-boxs__text {
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      margin-bottom: 8px;

      span {
        font-weight: 600;
      }
    }

    .props-boxs__content {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .props-boxs__content-subtitle {
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        margin-right: 4px;
      }

      .props-boxs__content-props {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
      }
    }
  }

  .props-boxs__content-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }
}

.props-boxs__content-btn {
  border: none;
  background: none;
  width: 18px;
  height: 18px;
  background-image: url("../img/icons/icon-copy.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    filter: brightness(0.5);
  }
}

@media only screen and (max-width: 992px) {
  .props {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .box-props {
    .props-boxs {
      width: 100%;
      margin-bottom: 24px;
      padding-right: 0;

      .props-boxs__title {
        font-size: 18px;
      }

      .props-boxs__content {
        .props-boxs__content-subtitle {
          font-size: 17px;
          line-height: 100%;
        }
      }
    }
  }


}
