.card-news {
    background: #F5F5F5;

    .box {
        background: none;
        box-shadow: none;
        border-radius: 0;
        padding: 0;

        .box__desc {
            max-width: 100%;
        }
    }
}